@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

*{
  margin: 0;
}

.card-map{
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.place, .visited, .description{
  margin-top: 0.5rem;
}

.bg-header{
  background: rgba(255, 255, 255, 0.7);
}

.header-title{
  font-weight: 500;
}

.headerIcon{
  color: #f06292;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

.btn-secondary, .btn-secondary:hover{
  background-color:tomato !important;
}

.map{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.text-primary{
  color: #3f51b5  !important;
}

.text-heading{
  color: #303f9f
}

.btn-primary{
  background-color: #3f51b5!important;
}

.btn-primary:hover{
  background-color: #303f9f!important;
}

.bold{
  font-weight: 600;
}


.btn-disabled{
  background-color: #5c6bc0 !important;
  color: white;
}

.form-check-input:checked {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.form-control:focus{
  border: 1px solid #ced4da;
}

.semibold-text{
  font-weight: 400;
}

.inline-heading{
  font-size: 14px;
  font-weight: 600;
}

.modal-heading{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.wrap-input{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.alertPrompt{
  position:'absolute';
  bottom:20;
  left:0;
  right:0; 
  margin-left:0;
  margin-right:0;
}

